<div class="formcontainer">
  <div id="inner_cont">
  <h1 id="img_text">Makeover Your Wardrobe for Better Life</h1>
    <form action="" method="">
      <button class="index_but" id="index_signup">SIGN UP</button>
      <button class="index_but" id="index_login">LOG IN</button>
    </form>
  </div>
</div>
<div class="cover">
<img class="cover" src="http://img.allw.mn/lifestyle/thumbs/30/165.jpg" alt="">
</div>



