<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY WARDROBE - WDI</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

</head>
<body style="overflow: auto; paddding: 0; margin: 0; height: 100%;" id="body">

<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <div id="the_logo">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-queen" aria-hidden="true"></span>MY WARDROBE </a>
       </div>
        
      </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/wardrobe">WARDROBE MAKEOVER<span class="sr-only">(current)</span></a></li>
        <li><a href="/addgarment/form">NEW GARMENT</a></li>
      </ul>
<% if log_in? %>
 <ul class="nav navbar-nav navbar-right">
        <li>welcome: <%= current_user.username%></li>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <li ><button class="btn btn-default" style="width: 70px; height:25px; font-size:10px;">LOG OUT</button> </li>
      </form>    
  </ul>
<% else%>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signin">LOG IN</a></li>
        <li><a href="/regi">SIGN UP</a></li>
      </ul>
<% end%>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <%= yield %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="/javascripts/bootstrap.min.js"></script>
</body>